<table class="table">
  <thead>
    <tr>
      <th>image</th>
      <th>name</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <%= customers.each do |customer| %>
    <tr>
      <td><%#= image_tag customer.get_profile_image, size: '50x50' %></td>
      <td><%= customer.name %></td>
      <td><%= render "relationships/followbtn", customer: customer %></td>
    </tr>
    <% end %>
  </tbody>
</table>