<div class="row">
  <%= render 'public/sakes/sidebar', genres: @genres, sake: @sake %>
  <div class="col-7 offset-md-1 py-3">
    <%= render 'public/searches/searchbox' %>
    <h2>会員一覧</h2>
    <%= render 'public/customers/index', customers: @customers %>
    <div class="row mt-3 mb-5">
      <div class="col-11 offset-md-1 d-flex mx-auto">
        <%= paginate @customers, theme: 'twitter-bootstrap-4' %>
      </div>
    </div>
  </div>
</div>