<div class="row">
  <%= render 'public/sakes/sidebar', genres: @genres, sake: @sake %>
  <div class="col-7 offset-md-1 py-3">
    <%= render 'public/searches/searchbox' %>
    <h2>会員一覧</h2>
    <%= render 'public/customers/index', customers: @customers %>
  </div>
</div>