<div class="container">
  <div class="row">
    <div class="col-4">
      <% homes.each do |home| %>
        <%= home.name %>
        <%= home.introduction %>
      <% end %>
    </div>
  </div>
</div>
