<div class="row mb-5 mx-auto justify-content-center">
  <div class="ml-5">
    <h2 class="bg-light my-3">ジャンル編集</h2>
  </div>
</div>

<%= form_with model: @genre, url:admin_genre_path(@genre.id), method: :patch do |f| %>
  <div class="row mb-5 mx-auto justify-content-center">
    <%= f.label :"ジャンル名", class: 'col-md-2 mt-2' %>
    <%= f.text_field:name, class: 'form-control ganre_name col-md-4 ml-3 mt-2' %>
    <%= f.submit '変更を保存', class:"btn btn-success col-md-2 ml-3 mt-2" %>
  </div>
<% end %>