<div class="form-group">
  <%= form_with model: [sake, sake_comment], local: false do |f| %>
    <%= f.text_area :comment, row: '5', placeholder: "コメント", class: 'form-control' %>
    <%= f.submit "送信する", class: 'btn btn-info mt-3' %>
  <% end %>
</div>