<%= render "public/sakes/new", sake: sake %>

<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          ジャンル一覧
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        <table class="table">
        <% genres.each do |genre| %>
          <tr>
            <td>
              <%= link_to genre.name, genre_search_path(genre: genre.name, model: "genre"), class: "text-dark text-decoration-none" %>
            </td>
          </tr>
        <% end %>
        </table>
      </div>
    </div>
  </div>
</div>