<% if sake.url.blank? %>
  <p class="amazon-del">Aamazon URL</p>
<% else %>
  <%= link_to sake.url, target: :_blank, rel: "noopener noreferrer" do %>
    <i class="fas fab fa-amazon fa-2x"></i>
  <% end %>
<% end %>