<div class="conteiner px-3">
  <div class="row">
    <%= render 'public/sakes/sidebar', genres: @genres, sake: @sake %>
  </div>
  <div class="row">
    <div class="col-5 offset-md-4">

    <%= render '/public/sakes/index', sakes: @sakes %>

    </div>
  </div>
</div>
