<div class="row">
  <div class="col-lg-3 sidebar bg-dark text-white hight_max px-5">
    <%= render 'public/sakes/sidebar', genres: @genres, sake: @sake %>
  </div>
  <div class="col-lg-7 offset-md-1 py-3">
    <%= render 'public/searches/sake_search' %>
    <%= render '/public/sakes/index', sakes: @sakes %>
  </div>
</div>